.basic-grid, .advance-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background: blueviolet;
    gap: 20px;
    padding: 10px;    
}

 #grid-layout{
    color: black;
}

.advance-grid {
    grid-template-columns: auto auto auto auto auto;
 
}



.basic-grid>div, .advance-grid>div{
    border: 1px solid #ccc;
    text-align: center;
    line-height: 52px;
    background-color: #ffffffcc;
    padding: 15px;
    box-shadow: -5px 5px #999999cc;
    
}

.basic-grid .item1{
    grid-column: 1/3;
}

.basic-grid .item6{
    grid-column: 2/4;
}
.basic-grid .item5{
    grid-row-start: 2;
    grid-row-end: 4;
}
.advance-grid .item7{
    grid-area: 1 / 2 / 3 / 5;
}
.advance-grid .item5{
    grid-area: 3 / 3 / 5 / 5;
}
/*-----------EXERCISE 5 HANDS-ON FROM CANVAS----------*/

.kodego1-grid, .kodego2-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    background: blueviolet;
    gap: 20px;
    padding: 10px;
}

.kodego1-grid>div, .kodego2-grid>div{
    border: 1px solid #ccc;
    text-align: center;
    line-height: 52px;
    background-color: #ffffffcc;
    padding: 15px;
    box-shadow: -5px 5px #999999cc;
}
.kodego1-grid .item1{
    grid-row: 1/3;
}
.kodego1-grid .item3{
    grid-column: 3/5;
}
.kodego1-grid .item8{
    grid-column: 3/5;
}
.kodego1-grid .item10{
    grid-row: 3/5;
}

.kodego2-grid .item8{
    background: blue;
    grid-row: 2/5;
    grid-column: 2/4;
}
.kodego2-grid .item9{
    background: rgb(255, 90, 90);
    grid-row: 2/5;
    grid-column: 4/6;
}
.kodego2-grid .item5{
    background: pink;
    grid-row: 1/2;
    grid-column-start: 5;
    grid-column-end: 7;
}